/* body {
  background-image: url("./../db//images/Beer_taps.jpg");
  background-color: rgba(238, 238, 238, 0.1) !important;
} */

/*
SUPERB explanation on position: https://stackoverflow.com/questions/2941189/how-to-overlay-one-div-over-another-div
*/

html,
body {
  height: 100%;
}

.page-container {
  /*   background: url("./../db/images/Beer+Taps+Web.jpg");
 */
  background-color: snow;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;
}

.menu-tabs {
  background-color: snow;
}

.menu-tabs header {
  text-align: center;
}

.menu-tabs ul li {
  margin: 5%;
}

.order-cart-container {
  border: 2px black solid;
  text-align: center;
  background: snow;
  margin-right: 5px;
}
.order-cart-container ul {
  padding-left: 0;
}

.menu-tabs ul {
  padding-left: 0;
}

.menu-tabs ul li {
  list-style-type: none;
  display: inline-block;
  background: #3e8db3;
  padding: 6px 15px;
  border-radius: 50%;
  color: #383838;
}


.menuItem {
  background: #f5f5f5;
  border: 1px black solid;
}
.menuItem t {
  color: red;
}

#more-info-box {
  display: flex;
  flex-direction: column;
}

#close-button {
  font: normal 1em/1 Arial, sans-serif;
  content: "\2716";
}

.image-container {
  max-width: 100%;
  position: relative;
  flex-direction: row;
  align-self: end;
}

.image-container img {
  width: 100%;
  position: relative;
  opacity: 0.7;
}

.image-container h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
}

.image-container t {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
