body{
/*     margin: 0;
    padding: 0;
    background: url("login background.jpg");
    /* width: 500px;
    height: 700px; */
    /* background-size: cover;
    background-position: center;
    */
    font-family: sans-serif;
}

.login-page-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.loginbox{
    display: flex;
    flex-direction: column;
    z-index: 10;
    position: absolute;
    background: #000000;
    width: 320px;
    height: 420px;
    color: yellow;
    /* top: 50%;
    right: 50%; */
    /* position: absolute; */
    transform: translate(-50%,-50%);
    top: 40%;
    box-sizing: border-box;
    padding: 70px 30px;
    align-self: center;
    padding-bottom: 90px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* position: absolute; */
    /* top: -50px;
    left: calc(50% - 50px); */
}

#login-form-buttons {
    margin-bottom: 10px;
    align-self: center;
}

#login-form-buttons button {
    text-decoration: none;
    border: none;
    background: darkgoldenrod;
    border-radius: 17px;
}

.active-login-button {
    background: rgb(219, 158, 4) !important;
    font-size: 16px;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;

}
.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.loginbox input{
    width: 100%;
    margin-bottom: 15px;
}
.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;

}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #ffffff;
    font-size: 18px;
    border-radius: 20px;

}
.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000000;

}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
    text-align: center;
    background: black;
}

.loginbox a:hover{
    color: #ffc107;
}

.footer-div {
    margin-top: 30px;
    align-self: center;
}

#close-login-form {
    background: red;
    color: lightgrey;
    border: 2px black solid;
    align-self: flex-end;
    padding: 4px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#close-login-form:hover {
    background: #ffc107;
}