/* body {
  background-image: url("./../db//images/Beer_taps.jpg");
  background-color: rgba(238, 238, 238, 0.1) !important;
} */

/*
SUPERB explanation on position: https://stackoverflow.com/questions/2941189/how-to-overlay-one-div-over-another-div
*/

html,
body {
  height: 100%;
  font-family: 'Oswald', sans-serif;
}

.menu-header {
  font-size: 30px;
  margin-top: 0px;
}

.language-button {
  background: none;
  border: none;
}

.button-flag {
  height: 16px;
}

.login-logout-button {
  background: #567973;
  font-size: 16px;
  border-radius: 17px;
  padding: 10px;
}

.login-logout-button:hover {
  background-color: #D6DDDC;
}
.page-container {
  /*   background: url("./../db/images/Beer+Taps+Web.jpg");
 */
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;
  max-height: 40%;
  overflow: auto;
}

.menu-tabs {
  background-color: rgba(255, 255, 255, 0.9);
  flex-grow: 1;
}

.menu-tabs header {
  text-align: center;
}

.order-cart-container {
  margin-top: 16px;
  margin-left: auto;
  justify-self: flex-end;
  border: 2px darkgreen solid;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  margin-right: 5px;
}
.order-cart-container ul {
  padding-left: 0;
}

.menu-tabs ul {
  padding-left: 0;
}

.menu-tabs ul li {
  margin: 5px;
  list-style-type: none;
  border: darkgreen;
  display: inline-block;
  background: #567973;
  font-size: 22px;
  padding: 6px 15px;
  border-radius: 17px;
  color: #383838;
}

.menu-tabs ul li:hover {
  background-color: #D6DDDC;
}

.active-li {
  font-size: 26px !important;
}
.menuItem {
  background: #A4B9B6;
  border: 1px darkgreen solid;
  width: 50%;
  padding: 7px;
  border-radius: 3%;
  margin-top: 3px;
  /*   display: flex;
  flex-direction: row;
 */
}
.menuItem:hover {
  background-color: #D6DDDC;

}
.menuItem t {
  color: black;
}


.order-item {
  margin-bottom: 5px;
  border-bottom: 0.5px lightgrey solid;
}

.order-menu-button {
  text-decoration: none;
  background: lightgreen;
  border: 1px green solid;
  border-radius: 17px;
  box-shadow: 1px 2px 1.5px darkgreen;
  margin-left: 5px;
}

.order-menu-button:hover {
  background-color: rgb(50, 202, 50);
}

.order-menu-button:active {
  background: darkgreen;
}

.more-info-button {
  border-radius: 17px;
  text-decoration: none;
  background: lightblue;
  box-shadow: 1px 2px 1.5px;
  border: 1px blue solid;
  margin-left: 5px;
  margin-right: 3px;
}

.more-info-button:hover {
  background-color: #85C1E9;
}

#more-info-box {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

#more-info-box:hover {
  background-color: #D6DDDC;
}


#more-info-box t {
  font-size: 18px;
}

#close-button {
  text-decoration: none;
  font-size: 14px;
  border-radius: 17px;
  width: 25%;
  border: 2px black solid;
  margin-top: 5px;
  align-self: center;
}

#close-button:hover {
  background-color: grey;
}

#payment-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#payment-form div {
  margin-top: 5px;
}

.plus-button {
  background: lightgreen;
  margin-left: 5px;
  border: 2px darkgreen solid;
  text-decoration: none;
}

.plus-button:hover {
  background-color: rgb(50, 202, 50);
}

.minus-button {
  background: lightgrey;
  border: 1px black solid;
  margin-right: 5px;
}

.minus-button:hover {
  background-color: grey;
}

#payment-form {
  margin-bottom: 5px;
  margin-top: 5px;
}

#order-button {
  text-decoration: none;
  font-size: 15px;
  margin-top: 5px;
  background: orange;
  border: 2px darkorange solid;
  border-radius: 17px;
  margin-bottom: 5px;
  /* box-shadow: 1px 2px 1.5px darkorange; */
}

#order-button:active,
#order-button:hover {
  background: darkorange;
}

.image-container {
  max-width: 100%;
  position: relative;
  flex-direction: row;
  align-self: end;
}

.image-container img {
  width: 100%;
  position: relative;
  opacity: 0.7;
}

.image-container h2 {
  color: #21312e;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
}

.image-container t {
  color: #21312e;
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
